<!DOCTYPE html>
<html>
  <head>
    <title> Email Reminder Opt out </title>
    <style>
      #div1{
        height:300px;
        width: 500px;
        margin-top: 5cm;
        margin-left: 10cm;
        padding: 50px 30px 50px 80px;
        border: 1px solid black;
      }
      #div2{
        margin-top: 0.5cm;
        margin-left: 0.1cm;
      }
      #div3{
        align="center"
      }
    </style>
    <script>
      src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
<body>
  <div id="div1">
    <form action="http://localhost:8000/userSettingsOptions/startOptionUpdate.php" method="post">
      <div id="div2">
        <center><h4>Email Notification opt-out</h4></center>
        <center>
          Enter your email Address:<br /> <input type="text" name="emailAddy" id="emailAddy"><br>
        </center>
        <div align="center" id="div3">
          <input type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
</body>
</html>
